extends layout

block content
  section.padded-section.p-3.p-lg-5.d-flex.d-column
    .my-auto
      h2 
        span.fa.fa-address-card 
        | &nbsp; Tus propuestas para eventos
      
      if (event_proposals)
        div.margin-r50.grid
          for event in event_proposals
            div.card(style="width:18rem;")
              div.card-body
                h5.card-title(style="text-transform:inital") #{event.name}
                p.card-text #{event.description}
                a.btn.btn-primary(href=event.url) Detalle

