extends layout

block content
  h1 Bienvenido !

  a.btn.btn-primary(href="/login")
    span.fa.fa-sign-in
    | &nbsp; Login
  hr
  a.btn.btn-primary(href="/signup/user")
    span.fa.fa-sign-in
    | &nbsp; Sign up