doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title CookAt
    link(rel="icon",href="../../favicon.ico")
    // Bootstrap core CSS
    // Custom fonts for this template
    link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i', rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker3.standalone.min.css', rel='stylesheet')
    link(href='/vendor/bootstrap.min.css', rel='stylesheet')    
    link(href='/vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet')
    link(href='/vendor/devicons/css/devicons.min.css', rel='stylesheet')
    link(href='/vendor/simple-line-icons.css', rel='stylesheet')
    // Custom styles for this template
    link(href='/stylesheets/template.css', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    block sideNav
      nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
        a.navbar-brand.js-scroll-trigger(href="/")
          span.d-block.d-lg-none CookAt
          span.d-none.d-lg-block
            img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='/images/logo_circle.png', alt='')
        .collapse.navbar-collapse
          - if (_user) {
            ul.navbar-nav
              li.nav-item
                a.nav-link(href= "/chef/" + _user.chef_id) #{_user.first_name}&nbsp;#{_user.last_name}
              li.nav-item
                a.nav-link(href="/dish") Platos
              li.nav-item
                a.nav-link(href= "/logout") Salir
          - }
    .container-fluid.p-0
      block content
  // Bootstrap core JavaScript
  script(type='text/javascript', src='/vendor/jquery.min.js')
  script(type='text/javascript', src='/vendor/bootstrap.bundle.min.js')
  script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js')
  script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/locales/bootstrap-datepicker.es.min.js')
  script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js')

  script(type='text/javascript', src='/vendor/moment.min.js')
  block scripts
  

