extends ../node_modules/jade-bootstrap/_bootstrap

block styles
  link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet', href='/stylesheets/style.css')
block body
  div.col-md-12
    img.image(src="/images/logo_square.JPG", alt="")
  block content

