extends page
block sideNav
  nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
    a.navbar-brand.js-scroll-trigger
      span.d-block.d-lg-none CookAt
      span.d-none.d-lg-block
        img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='/images/logo_circle.png', alt='')
    .collapse.navbar-collapse
      - if (_user) {
        ul.navbar-nav
          li.nav-item
            a.nav-link #{_user.first_name}&nbsp;#{_user.last_name}
          li.nav-item
            a.nav-link Dishes
          li.nav-item
            a.nav-link Logout
      - }

